* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

/***** NAVBAR *****/

.nav {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-image {
  max-height: 30px;
}

.nav a {
  text-decoration: none;
  font-size: 17px;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  color: #5227cc;
}

#nav-button {
  background-color: #5227cc;
  color: #ffffff;
  border-color: #5227cc;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  filter: drop-shadow(0 0 6px #333);
  transition: all 500ms ease;
}

#nav-button:hover {
  background-color: #7749f8;
  transform: translateY(-4%);
  filter: drop-shadow(0 0 10px #7749f8);
}

.nav-icon {
  display: none;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  margin-right: 500px;
}

.nav-list-item {
  display: inline;
  padding-right: 100px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-list-2 {
  list-style-type: none;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 0px;
}

.nav-list-2 a {
  text-decoration: none;
  color: white;
}

.nav-list-2 li {
  border: solid 1.5px #5227cc;
  background-color: #7749f8;
}

.myMobileList {
  display: none;
}

.active {
  display: block;
}

/***** HEADER *****/

.header {
  background-image: url(../Images/manos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-text {
  position: relative;
}

header h1 {
  padding-bottom: 15px;
}

/***** MODAL *****/

#modal-content-container {
  flex-direction: row;
}

.modal-left-container {
  background-image: url(../Images/imagen-modal.JPG);
  height: 500px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

#modal-right-container {
  flex-direction: column;
  width: 400px;
  justify-content: flex-start;
  border-top: 0px;
  background-color: #fafafa;
}

.modal-arrow-back {
  transform: rotate(180deg);
}

#modal-close-button {
  display: flex;
  padding-right: 10px;
  width: 380px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-titles {
  font-weight: bold;
  margin-bottom: 20px;
}

#modal-button-company {
  display: flex;
  text-align: left;
  width: 350px;
  height: 120px;
  border: transparent;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 25px;
  margin-right: 15px;
  filter: drop-shadow(0 0 6px #333);
  transition: all 500ms ease;
}

.modal-briefcase {
  background-color: #5298ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  border: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal-briefcase-icon {
  max-height: 30px;
  max-width: 25px;
}

.modal-company-h6 {
  color: #5298ff;
  font-weight: bold;
}

.modal-company-text {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  width: 100%;
}

#modal-button-company:hover {
  transform: translateY(-4%);
  filter: drop-shadow(0 0 10px #5298ff);
}

#modal-button-org {
  display: flex;
  text-align: left;
  width: 350px;
  height: 120px;
  border: transparent;
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 15px;
  filter: drop-shadow(0 0 6px #333);
  transition: all 500ms ease;
}

.modal-person {
  background-color: #7749f8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  border: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal-person-icon {
  max-height: 30px;
  max-width: 25px;
}

.modal-org-h6 {
  color: #7749f8;
  font-weight: bold;
}

.modal-org-text {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  width: 100%;
}

#modal-button-org:hover {
  transform: translateY(-4%);
  filter: drop-shadow(0 0 10px #5227cc);
}

.modal-arrow {
  text-align: right;
  padding-right: 15px;
}

/***** SECCIÓN NOSOTROS *****/

.we-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(82, 152, 255);
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}

.we-row1,
.we-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.we-img-voluntarios,
.we-img-oficina {
  width: 630px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

.we-row1-col1,
.we-row2-col2 {
  display: flex;
  align-items: center;
  width: 650px;
}

.we-row1-col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
}

.we-row2-col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  padding-left: 30px;
}

.we-row1-col2 {
  margin-left: 30px;
}

.we-row2-col2 {
  margin-right: 30px;
}

div.we-row2-col1 > h2,
div.we-row1-col2 > h2 {
  flex: 100%;
  color: white;
  padding-bottom: 15px;
}

div.we-row2-col1 > p,
div.we-row1-col2 > p {
  display: flex;
  color: white;
}

/***** SECCIÓN SERVICIOS *****/

.services-container {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  padding: 5%;
}

#we-p1-responsive {
  display: none;
}

#we-p2-responsive {
  display: none;
}

div.serv-row-text > h2 {
  flex: 100%;
  text-align: center;
}
div.serv-row-text > p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.serv-row-squares {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.serv-row-squares-second-half,
.serv-row-squares-first-half {
  display: flex;
  flex-direction: row;
}

.serv-element2-yellow,
.serv-element1-red,
.serv-element3-green,
.serv-element4-blue {
  color: white;
  width: 250px;
  height: 200px;
  border-radius: 12px;
  margin: 7px;
}
.serv-element1-red {
  background-color: rgb(220, 53, 69);
}
.serv-element2-yellow {
  background-color: rgb(255, 156, 7);
}
.serv-element3-green {
  background-color: rgb(40, 167, 69);
}
.serv-element4-blue {
  background-color: rgb(23, 162, 184);
}

.serv-innerrow1-red {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  /* padding-top:25px; */
}
div.serv-innerrow1-red > img {
  display: flex;
  padding-top: 35px;
  padding-top: 25px;
}

.serv-innerrow1-yellow,
.serv-innerrow1-green,
.serv-innerrow1-blue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 20px;
  /*padding-top:30px; */
  height: 110px;
}
.serv-innerrow2-yellow,
.serv-innerrow2-red,
.serv-innerrow2-green,
.serv-innerrow2-blue {
  flex: 100%;
  padding-left: 25px;
  height: 40%;
}

.serv-innerrow2-red {
  padding-top: 10px;
}

.icono-cruz {
  width: 25px;
  height: 55px;
  padding-top: 25px;
}

.mano-corazoninner-icon {
  width: 20%;
  height: 30%;
}
.serv-icono-llamLaborales {
  width: 85%;
  height: 75%;
  padding-top: 30px;
}
.serv-icono-reciclar {
  width: 85%;
  height: 75%;
  padding-top: 30px;
}
.icono-mano-corazon {
  width: 80%;
  height: 75%;
  padding-top: 30px;
}

/***** SECCIÓN NOTICIAS *****/

.news-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(82, 152, 255);
  background-size: cover;
  width: auto;
  align-items: center;
  padding: 3%;
}

.news-view-all {
  color: #ffffff;
}

div.news-row-1 > h2 {
  flex: 100%;
  text-align: center;
  color: white;
  padding-top: 10px;
}

.news-date-time {
  padding-left: 5px;
  padding-top: 2px;
}

div.news-row-1 > p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20%;
  color: white;
}

.news-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 65%;
  width: 100%;
}

.news-cards-first-half,
.news-cards-second-half {
  display: flex;
  flex-direction: row;
}

.news-card-1,
.news-card-2,
.news-card-3,
.news-card-4 {
  max-width: 300px;
  height: 435px;
  position: relative;
  border-radius: 12px;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  filter: drop-shadow(0 0 6px #333);
  transition: all 500ms ease;
}

.news-card-1:hover,
.news-card-2:hover,
.news-card-3:hover,
.news-card-4:hover {
  transform: translateY(-4%);
  filter: drop-shadow(0 0 9px rgb(4, 12, 130));
}

.news-card1-ul,
.news-card2-ul,
.news-card3-ul,
.news-card4-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  align-items: center;
  list-style: none;
  font-size: 14px;
  width: 100%;
}

.news-card1-ul1,
.news-card2-ul1,
.news-card3-ul1,
.news-card4-ul1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 35%;
  list-style: none;
  padding-left: 12px;
  padding-top: 20px;
}

.news-card1-ul2,
.news-card2-ul2,
.news-card3-ul2,
.news-card4-ul2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 35%;
  padding-left: 0px;
  list-style: none;
  padding-right: 12px;
  padding-top: 20px;
}

.news-card1-imgFondo {
  position: relative;
  background-image: url("../Images/voluntariado-animales.jfif");
  min-height: 35%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.news-card2-imgFondo {
  position: relative;
  background-image: url("../Images/voluntariado-pintura.jpeg");
  min-height: 35%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.news-card3-imgFondo {
  position: relative;
  background-image: url("../Images/voluntariado-hospital.jpg");
  min-height: 35%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.news-card4-imgFondo {
  position: relative;
  background-image: url("../Images/voluntariado-casa.jpg");
  min-height: 35%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.news-etiqueda-container {
  background-color: rgb(82, 39, 204);
  height: 25px;
  color: white;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  bottom: 10px;
  left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  padding-top: 4px;
}

.news-etiqueta {
  text-align: center;
  position: relative;
}

div.news-card-1 > h4,
div.news-card-2 > h4,
div.news-card-3 > h4,
div.news-card-4 > h4 {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0px;
  padding-top: 10px;
  font-size: 17px;
  font-weight: bold;
}

.news-card-text {
  height: 40%;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 15px;
  margin-bottom: 0px;
}

div.news-card-1 > .news-card-text,
div.news-card-3 > .news-card-text,
div.news-card-4 > .news-card-text {
  padding-top: 35px;
}

.news-card1-verMas,
.news-card2-verMas,
.news-card3-verMas,
.news-card4-verMas {
  display: flex;
  justify-content: flex-end;
}

.news-card-verMas-elements {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  padding-right: 20px;
  height: 10%;
}

.news-verMas-link {
  text-decoration: none;
  color: grey;
}

.news-row-3-carusel-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding-left: 0px;
}
.carusel-navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

/***** FOOTER *****/

.footer-contact {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  padding-bottom: 200px;
  padding-top: 80px;
  height: 430px;
  border-bottom: solid 6px #5227cc;
  justify-content: center;
}

.footer-contact-image {
  background-image: url(../Images/laptop-escritorio.jpg);
  width: 610px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 210px;
  margin-right: 20px;
}

.footer-contact-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 640px;
}

.footer-form {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.footer-input {
  width: 320px;
  padding-left: 15px;
  margin-top: 1px;
  margin-bottom: 3px;
  border-radius: 10px;
  border-width: 0.5px;
  margin-right: 1px;
}

.footer-textarea {
  width: 300px;
  padding-left: 15px;
  margin-bottom: 3px;
  border-radius: 10px;
  border-width: 0.5px;
  padding-bottom: 53px;
}

#contact-form-button {
  background-color: #5227cc;
  color: #ffffff;
  border-color: #5227cc;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: fit-content;
  margin-top: 20px;
  filter: drop-shadow(0 0 6px #333);
  transition: all 500ms ease;
}

#contact-form-button:hover {
  background-color: #7749f8;
  transform: translateY(-4%);
  filter: drop-shadow(0 0 10px #7749f8);
}

.footer-nav {
  margin-top: 1px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  height: 140px;
  background-color: #5227cc;
}

.footer-list {
  list-style: none;
  margin-left: 70px;
  margin-bottom: 0px;
}

.footer-logo-nav {
  display: flex;
  margin-top: 22px;
}

.footer-social {
  margin-top: 20px;
}

.footer-social-icons {
  text-align: center;
}

#footer-facebook {
  padding-right: 5px;
  color: #ffffff;
  text-decoration: none;
}

#footer-twitter {
  padding-right: 5px;
  color: #ffffff;
  text-decoration: none;
}

#footer-instagram {
  color: #ffffff;
  text-decoration: none;
}

.footer-copyright {
  margin-top: 1px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5227cc;
}

/***** CARRUSEL *****/

.swiper-paragination-bullet {
  background-color: #333;
  opacity: 2;
}

.news-row-2 {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.slides-container {
  width: 100%;
  height: 100%;
}

/***** RESPONSIVE DESIGN *****/

@media only screen and (max-width: 390px) {
  .swiper-button-next {
    right: 0%;
    color: brown;
  }
  .swiper-button-prev {
    left: 0%;
    color: brown;
  }
}

@media only screen and (min-width: 391px) {
  .swiper-button-next {
    right: 10%;
    color: white;
  }

  .swiper-button-prev {
    left: 10%;
    color: white;
  }

  .slides-container {
    height: 472px;
  }
}

@media only screen and (max-width: 390px) {
  .nav-list {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav {
    flex-direction: column-reverse;
    height: 60px;
  }

  .nav-list.active {
    left: 0;
  }

  .nav-list-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  #nav-button {
    display: none;
  }

  .nav a {
    display: none;
  }

  .nav-icon {
    display: block;
  }

  .header {
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    height: 570px;
  }

  .nav-image {
    max-height: 42px;
    padding-top: 12px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 12px;
  }

  .we-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .we-row1,
  .we-row2 {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-items: center;
  }

  .we-row1 {
    flex-direction: column-reverse;
  }

  .we-row1-col1,
  .we-row1-col2,
  .we-row2-col1,
  .we-row2-col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 20px;
  }

  .we-row1-col2,
  .we-row2-col1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .we-img-voluntarios,
  .we-img-oficina {
    max-width: 90%;
    height: 300px;
    padding-left: 2px;
    padding-right: 2px;
  }

  #we-p1-responsive {
    display: contents;
    font-size: 17px;
  }

  #we-p2-responsive {
    display: contents;
    font-size: 17px;
  }

  #we-p1 {
    display: none;
  }

  #we-p2 {
    display: none;
  }

  .we-row1-col2 {
    margin-left: 0px;
  }

  .we-row2-col2 {
    margin-right: 0px;
  }

  div.we-row2-col1 > h2 {
    padding-top: 15px;
    font-size: 24px;
    text-align: center;
  }

  div.we-row2-col2 > h2 {
    font-size: 24px;
  }

  .services-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .serv-row-squares {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .serv-row-squares-second-half,
  .serv-row-squares-first-half {
    display: flex;
    flex-direction: column;
  }

  .news-row-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
  }

  .news-cards-first-half,
  .news-cards-second-half {
    display: flex;
    flex-direction: column;
  }

  /*.news-card-1,
  .news-card-2,
  .news-card-3,
  .news-card-4 {
    width: 90%;
    align-items: center;
  }*/

  .news-cards-first-half,
  .news-cards-second-half {
    align-items: center;
  }

  .news-container {
    height: 160vw;
  }

  .footer-contact {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .footer-contact-image {
    display: none;
  }

  .footer-form {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .footer-message {
    width: 321px;
  }

  .footer-textarea {
    width: 321px;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-left: 20%;
    padding-right: 20%;
    height: 250px;
    justify-content: space-evenly;
  }

  .footer-social {
    margin-top: 0px;
  }

  .footer-logo-nav {
    margin-top: 0px;
  }
}
